
*.DS_Store
*.ipynb_checkpoints/
*.jupyter/
*.pdf
*.meta
Deep CNN - AlexNet/data/cifar-10-batches-py/
*.gz
*.pyc
*.jpeg
*.jpg
*.png
*.webp
*.drawio
*__pycache__/
venv/
*.crswap
*.pkl
*.ubj
GANDALF/lightning_logs/
GANDALF/saved_models/
*.pt_tmp
*.pth
Vision Transformer/data/
*.ckpt
TabTransformer/lightning_logs/
Graph Neural Networks/demo copy.ipynb
.env
Embedding Finetuning/finetuned_model