
Support Vector Classifiers/.DS_Store
Support Vector Classifiers/.ipynb_checkpoints/svc-checkpoint.ipynb
Naive Bayes Classifier/.DS_Store
Naive Bayes Classifier/.ipynb_checkpoints/nb-checkpoint.ipynb
Naive Bayes Classifier/.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
Naive Bayes Classifier/Naive Bayes Classifier.pdf
Naive Bayes Classifier/nb.ipynb
Naive Bayes Classifier/nb_scratch.ipynb
nb.ipynb
id3.ipynb
.DS_Store
