alembic==1.13.1
colorlog==6.8.2
contourpy==1.2.1
cycler==0.12.1
filelock==3.14.0
fonttools==4.53.0
fsspec==2024.5.0
greenlet==3.0.3
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.5
logging==0.4.9.6
Mako==1.3.5
MarkupSafe==2.1.5
matplotlib==3.9.0
mpmath==1.3.0
networkx==3.3
numpy==1.26.4
optuna==3.6.1
packaging==24.0
pandas==2.2.2
pillow==10.3.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
scikit-learn==1.5.0
scipy==1.13.1
seaborn==0.13.2
six==1.16.0
SQLAlchemy==2.0.30
sympy==1.12.1
threadpoolctl==3.5.0
torch==2.2.2
torchvision==0.17.2
tqdm==4.66.4
typing_extensions==4.12.1
tzdata==2024.1
